@page
@model Cursos.RazorPages.Pages.Alunos.IndexAlunos
@{
    ViewData["Title"] = "Lista de Alunos";
}

<h1>Lista de Alunos</h1>

<p>
    <a asp-page="/Alunos/Create">Criar novo Aluno</a>
</p>
<form method="post">
    <div class="form-group">
        <input type="text" asp-for="NomeFiltro" placeholder="Filtrar por nome">
        <input type="submit" class="btn btn-primary" value="Filtrar">
        <a asp-page="/Alunos/Index" class="btn btn-secondary">Limpar Filtro</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Data de Inscrição <a asp-page="/Alunos/Index" asp-route-Ordenacao="asc">(asc)</a> <a asp-page="/Alunos/Index" asp-route-Ordenacao="desc">(desc)</a></th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var aluno in Model.AlunosList)
        {
            <tr>
                <td>@aluno.NomeAluno</td>
                <td>@aluno.Email</td>
                <td>@aluno.DataInscricao</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@aluno.AlunoId">Editar</a>
                    <a asp-page="./Details" asp-route-id="@aluno.AlunoId">Detalhes</a>
                    <a asp-page="./Delete" asp-route-id="@aluno.AlunoId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
