@page
@model Cursos.RazorPages.Pages.Cursos.IndexCursos
@using Cursos.RazorPages.Pages.Cursos
@{
    ViewData["Title"] = "Lista de Cursos";
}

<h1>Lista de Cursos</h1>

<p>
    <a asp-page="/Cursos/Create">Criar novo Curso</a>
</p>
<form method="post">
    <div class="form-group">
        <input type="text" asp-for="NomeFiltro" placeholder="Filtrar por nome">
        <input type="submit" class="btn btn-primary" value="Filtrar">
        <a asp-page="/Cursos/Index" class="btn btn-secondary">Limpar Filtro</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data de Início <a asp-page="/Cursos/Index" asp-route-Ordenacao="asc">(asc)</a> <a asp-page="/Cursos/Index" asp-route-Ordenacao="desc">(desc)</a></th>
            <th>Data de Término</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var curso in Model.CursosList)
        {
            <tr>
                <td>@curso.NomeCurso</td>
                <td>@curso.Descricao</td>
                <td>@curso.DataInicio</td>
                <td>@curso.DataTermino</td>
                <td>
                    <a asp-page="./Editar" asp-route-id="@curso.CursoId">Editar</a>
                    <a asp-page="./Visualizar" asp-route-id="@curso.CursoId">Detalhes</a>
                    <a asp-page="./Delete" asp-route-id="@curso.CursoId">Excluir</a>
                    <a asp-page="./AdicionarAluno" asp-route-id="@curso.CursoId">Adicioanar aluno ao Curso</a>
                </td>
            </tr>
        }
    </tbody>
</table>
